.root {
  background-color: rgb(5,42,52);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

a {
  color: teal
}

.top-window {
  height: 1.2em;
  background-color: rgb(59,58,56);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: calc(10px + 1vmin);
}

.top-window > .circle {
  position: relative;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  border: none;
}

.top-window > .circle.first {
  top: 0.3em;
  left: 0.5em;
  background-color: rgb(254,79,75);
}

.top-window > .circle.second {
  top: -0.3em;
  left: 1.5em;
  background-color: rgb(228,183,56);
}

.top-window > .circle.third {
  top: -0.9em;
  left: 2.5em;
  background-color: rgb(80,185,55);
}

.top-window > .text {
  color: rgb(163,161,160);
  position: relative;
  font-size: .63em;
  font-weight: bold;
  width: 3em;
  top: -2.5em;
  left: 6.5em;
}

.top-window > .name {
  color: rgb(163,161,160);
  position: absolute;
  font-size: .63em;
  font-weight: bold;
  width: 7em;
  left: calc(50% - 7em / 2);
  top: 0.3em;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.react_cli {
  font-family: Monospace;
  color: #a9ba17;
  background-color: rgb(5,42,52);;
  width: calc(100% - 2em);
  height: calc(100vh - 4em);
  overflow: auto;
  padding: 1em;
  line-height: 16px;
  font-size: 16px;
}

.react_cli p {
  margin: 0;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.bold {
  text-shadow: 0 0 5px;
}

.banner {
  color: teal;
  text-shadow: 0 0 5px teal;
  line-height: normal;
  font-weight: bold;
  font-size: calc(1vw);
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.banner-welcome {
  white-space: pre-line;
  color: gray;
  margin-bottom: 2em;
}

ul {
  margin: 0;
  list-style-type: none;
}

ul > li {
  text-indent: -5px;
}

ul > li:before {
  content: "- ";
  text-indent: -5px;
}